<section class="private-chat">
  <div class="chat-container">
    <header>
      <h3>
        <span [ngClass]="{'active': this.gs.session.from.name === this.gs.session.actualPlayer.name}">{{this.gs.session.from.name}}</span>
        <span class="battle-icon"></span>
        <span [ngClass]="{'active': this.gs.session.to.name === this.gs.session.actualPlayer.name}">{{this.gs.session.to.name}}</span>
      </h3>
    </header>
    <div class="messages-container">
      <div class="chat" id="scrollable">
        <ul>
          <li *ngFor="let msg of this.messages"><b>{{msg.author}}:</b> {{msg.content}}</li>
        </ul>

      </div>
    </div>


    <input type="text" placeholder="Message" class="messager" #msg (keydown.enter)="this.messageHandler(msg)">
  </div>


</section>