h1 {
  text-align: center;
}

main {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100%;

  app-game {
    width: 100%;
    height: 100%;
  }

  app-lobby {
    width: 378px;
    height: 530px;
    margin: auto;
    display: flex;
    position: relative;
    background: url("/img/border/border.png") no-repeat;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

  }
  app-sessions {
    width: 350px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    position: relative;
  }
}