

section {
  width: 257px;
  height: 474px;
  margin: auto;
  position: relative;
  background: url("/img/card-bg.jpg");
  color: white;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  @media(min-width: 600px) {
    & {
      width: 373px;
      height: 470px;
    }
  }

  .lobby-head {
    height: 28%;
    h3 {
      text-align: center;
      margin: 0;
      padding-top: 10px;
    }
    p {
      text-align: center;
      margin: 0;
    }

    .lobby-input {
      display: flex;
      background: rgba(0, 0, 0, 0.28);
      height: 60px;
      width: 92%;
      margin: 10px auto 0 auto;
      border: 1.5px solid rgba(255, 255, 255, 0.3);
      border-radius: 2px;
      flex-flow: column;



      input {
        background: none;
        border: 1.5px solid rgba(255, 255, 255, 0.3);
        color: white;
        height: 20px;
        padding-left: 8px;

        &::placeholder {
          opacity: 1;
          color: white;
        }
      }

      input, a {
        margin: auto;

      }
      .lobby-buttons {
        margin: 0 auto auto auto;
        display: flex;

        .join-lobby {
          background: url("/img/buttons/accept.png") no-repeat;
          background-size: 100% 100%;
          width: 44px;
          height: 20px;
          margin-right: 10px;

          &:hover {
            background: url("/img/buttons/accept-click.png") no-repeat;
            background-size: 100% 100%;
          }
        }

        .leave-lobby {
          background: url("/img/buttons/cancel.png") no-repeat;
          background-size: 100% 100%;
          width: 44px;
          height: 20px;
          margin-left: 10px;

          &:hover {
            background: url("/img/buttons/cancel-click.png") no-repeat;
            background-size: 100% 100%;
          }

        }
      }


    }
  }

  .player-list-container {
    background: rgba(0, 0, 0, 0.28);
    width: 92%;
    height: calc(35% - 20px);
    margin: 0 auto 5px auto;

    border: 1.5px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    border-radius: 2px;

    .player-list {
      width: 100%;
      height: 100%;
      padding-right: 17px;
      overflow-y: scroll;
      box-sizing: content-box;
      overflow-x: hidden;

      ul {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        li {
          height: 32px;
          list-style-type: none;
          font-weight: bold;
          border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
          position: relative;
          display: flex;


          &:hover {
            background: rgba(0, 0, 0, 0.33);
            cursor:url('/img/cursors/fight.png'),auto;
          }

          p {
            margin: auto 0;
          }
          span {
            height: 100%;
            width: 30px;
            background: url("/img/buttons/person.png") no-repeat;
            display: block;
            background-position: center;
          }
        }
      }
    }
  }


.chat-box {
  width: 92%;
  height: calc(35% - 23px);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.28);
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
  box-sizing: content-box;
  margin: auto;

  .chat {
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-y: scroll;
    box-sizing: content-box;

    ul {
      margin-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;

      li {
        list-style-type: none;
      }
    }

  }
}


  input.messager {

    width: calc(92%);
    margin: auto;
    border: 1.5px solid rgba(255, 255, 255, 0.3);
    background: url("/img/buttons/msg.png") no-repeat;
    color: white;
    padding-left: 28px;
    position: relative;


    &::placeholder {
      opacity: 1;
      color: white;
    }

  }
}





mat-progress-bar {
  margin-top: 20px;
}