<div class="lobby-head">
    <h3>Game Lobby</h3>
    <p>Online: {{this.online}}</p>
    <div class="lobby-input">
        <input #playerName type="text" placeholder="Enter Your Name" id="name-input" (keydown.enter)="this.joinLobby(playerName)">
        <button (click)="this.joinLobby(playerName)">Join</button>
        <button (click)="this.leaveLobby()">Leave</button>
    </div>
</div>


<div class="player-list">
    <ul>
        <li *ngFor="let player of this.ls.players"><button (click)="this.inviteToGame(player.Name)">+</button> {{player.Name}}</li>
    </ul>
</div>
<div class="chat" id="chat-container">
    <ul>
        <li *ngFor="let msg of this.messages"><b>{{msg.author}}:</b> {{msg.content}}</li>
    </ul>

</div>

<input class="messager" type="text" #msg (keydown.enter)="this.messageHandler(msg)" placeholder="Message">



