/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; cursor:url('/img/cursors/normal.png'),auto;

  background: url('/img/bg.jpg') no-repeat;
  background-size: cover;

  &::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('/img/buttons/accept-click.png') url('/img/buttons/cancel-click.png') url('/img/buttons/person.png');
  }
}
button:hover {
  cursor:url('/img/cursors/normal.png'),auto;
}
